In [ ]:
s = "The best of\t the best"

In [ ]:
s.capitalize

In [ ]:
s.casefold()

In [ ]:
s

In [ ]:
s.center(100)

In [ ]:
s.count("best")

In [ ]:
s.expandtabs(10)

In [ ]:
s.find("best",6)

In [ ]:
s.index("b",8)

In [ ]:
for b in s:
    print(b)

In [ ]:
for b in s.split():
    print(b)

In [ ]:
i = 1
while i <= 10:
    print("i=",i,end=',')
    i+=1

In [ ]:
a="Hi"
b="Niggas"
print(a+b)
print(a,b)
print(a," ",b)

In [ ]:
ch = 97
while ch<= 122:
    print(chr(ch))
    ch+=1

In [ ]:
#WAP to input a number and print 10 numbers from it
num = int(input("Enter a number: "))
cnt = 0
while cnt < 10:
    print(num)
    num += 1
    cnt += 1

In [ ]:
n = int(input("Enter a number:"))
x=n
while n < x-10:
    print(n)
    n -= 1

In [ ]:
#WAP to input a number and print 10 numbers minus from it
num = int(input("Enter a number: "))
cnt = 0
while cnt > 10:
    print(num)
    num -= 1
    cnt -= 1

In [ ]:
n = int(input("Enter a number:"))
x=n
while n < x-10:
    print(n)
    n -= 1

In [ ]:
n = 0
sum = 0
while n != 100:
    n = int(input("Enter a number:"))
    sum += n
print(f"100 has come so the program is ended and the sum is {sum-100}")

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

In [ ]:
n = 6
for i in range(1,6):
    x = 5
    for j in range(1,i+1):
        print(j, end=" ")
        x-=1
    print()

In [ ]:
i1 = 0
i2 = 1
print(i1, i2, end=" ")
for i in range(0,10):
    k = i1 + i2
    print(k, end=" ")
    i1,i2=i2,k #Short cut notation

In [ ]:
#Short cut notation
a = 1
b = 2
print(f"Before swap: a = {a},b = {b}")
a,b = b,a
print(f"After swap: a = {a},b = {b}")

In [ ]:
#WAP to get 10 fibonacci numbers
#WAP for factorial of the number input
#Input a number and print weather it is a prime or not
#Input a number and print weather it is an armstring number or not
#Input a number and print weather it is a perfect number or not

In [ ]:
#session 8 inlcuded

In [ ]:
l1 = [1,2,3,4,5]
l1

In [ ]:
a,b,c,d = 56,45,63,75
t=a,b,c,d

In [ ]:
#wap to create a tuple with values 1, 4, 6, 12, 24, 60, input numbers from the user till the user enters -1 and print the number of values....

In [ ]:
#wap to input data in a list till the user enters -1. then remove the duplucates from the list
#OG list
l = []
while True:
    val = int(input("Enter a number (-1 to stop): "))
    if val == -1:
        break
    l.append(val)
#New list with no duplicates
unique = []
for item in l:
    if item not in unique:
        unique.append(item)
print(unique)

In [ ]:
#wap to input data in a list and print the list in decending order of values.

In [ ]:
#wap to sort a list and print it in reverse
listt = [23,4,34,524,1,43,53,123,5,321,45,24,5]
listt.sort()
listt.reverse()
listt

In [5]:
i = 1
while i <= 5:
    print(i, end=" ")
    i += 1

1 2 3 4 5

In [1]:
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j, end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [3]:
doubled = [ x * 2 for x in range(1,11)]
print(doubled)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [7]:
triples = [ y * 3 for y in range(1,11)]
print(triples)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [9]:
square = [ z * z for z in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
#strings

fruits = ["apple","orange", "banana"]
ufruits = [fruit.upper() for fruit in fruits]
print(ufruits)

['APPLE', 'ORANGE', 'BANANA']

In [19]:
ufruits = [fruit.upper() for fruit in ["apple","orange", "banana"]]
print(ufruits)

['APPLE', 'ORANGE', 'BANANA']

In [23]:
fruit_idx = [fruit[0] for fruit in ["apple","orange", "banana"]]
print(fruit_idx)

['a', 'o', 'b']

In [25]:
numbers = [1, -2, 3, -4, 5, -6]
newpos_nums = [num for num in numbers if num >= 0]
print(newpos_nums)

[1, 3, 5]

In [27]:
numbers = [1, -2, 3, -4, 5, -6]
newneg_nums = [num for num in numbers if num <= 0]
print(newneg_nums)

[-2, -4, -6]

In [33]:
numbers = [1, -2, 3, -4, 5, -6, 8, -7]
neweven_nums = [num for num in numbers if num % 2 == 0]
print(neweven_nums)

[-2, -4, -6, 8]

In [35]:
numbers = [1, -2, 3, -4, 5, -6, 8, -7]
newodd_nums = [num for num in numbers if num % 2 == 1]
print(newodd_nums)

[1, 3, 5, -7]

In [39]:
grades = [89, 46, 77, 98, 65, 81, 20]
pass_grades = [grade for grade in grades if grade >= 60]
print(pass_grades)

[89, 77, 98, 65, 81]

In [41]:
grades = [89, 46, 77, 98, 65, 81, 20]
not_grades = [grade for grade in grades if grade <= 60]
print(not_grades)

[46, 20]